h1 {
  color: blue;
  text-align: center;
  font-weight: bold;
}

h2  {
  color: teal;
  text-align: center;
  font-family: cursive;
}

h3  {
  color: darkblue
  font-style: italic;
}

p  {
  color: gray;
}

p.intro  {
  font-style: italic;
}

p.outro  {
  font-family:  sans-serif;
}

body  {
  background-color: skyblue;
}
